# Arquivos de compilação
*.exe
*.dll
*.pdb

# Arquivos de publicação
*.publish.xml
*.publish.ps1

# Arquivos gerados por ferramentas
*_ReSharper*
*.resharper*
[Tt]humbs.db
*.DS_Store

# Diretórios de saída
/bin/
/obj/
/Debug/
/Release/
/FileContentIndex/
/v16/
/v17/
/ProjectEvaluation/
obj/Debug/net5.0/
obj/
FileContentIndex/

# Pacotes NuGet
/packages/

# Arquivos de usuário do Visual Studio
*.suo
*.user
*.sln.docstates

# Arquivos de registro
*.log

# Arquivos temporários
*.tmp
*.bak
*.cache

# Arquivos específicos do .NET
*.nuget.props
*.nuget.targets
*.csproj.nuget.dgspec.json
*.csproj.nuget.g.props
*.csproj.nuget.g.targets
project.assets.json
project.nuget.cache
launchSettings.json
